body{
    background-image:url(/content/img/plano-de-fundo1.jpg);  
    background-repeat:repeat;
    background-size:300px 300px;         
}

main{
    height:60%;
}
.main-principal{    
    width:70%;
}

.main-lateral{    
    width:30%;
}

.corpo-pagina{
    margin-left:5em;
    margin-right:5em;
    margin-top:3em;
}

header{
    background-color: rgba(3, 66, 5, 0.65);
    height:20%;
    width:auto;
}

footer{
    height:10%;
}

h1{
    color:white;
    font-family:'Bodoni MT';
    font-size:2.5em;
    margin: 0 0 0 .8em;
    padding-top:1em;
}

h3{
    color:white;
    font-family:Garamond;
    font-size:1.5em;
    margin: 0 0 0.3em 1.4em;
}

.img-campus-ufmt{
    display:block;
    height:300px;
    width:100%;
}

.nav-layout{
   padding: 0.8em 0 0.5em 0;
   background-color: rgba(1, 40, 2, 0.8);
   border:solid 0.2em white;
}

.item-navegacao{
    display:inline;
    margin: 0 1em 0 2em;    
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;    
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    color:white;
}

.img-logo-pet{
    float:left;
    height:100px;
    width:160px;
    border-radius: 8%;
    padding: .5em 0 .2em .5em;
}