body{
    background-image:url(/content/img/plano-de-fundo1.jpg);  
    background-repeat:repeat;
    background-size:300px 300px;         
}

main{
    height:60%;
}
.main-principal{    
    width:70%;
}

.main-lateral{    
    width:30%;
}

.corpo-pagina{
    margin-left:5em;
    margin-right:5em;
    margin-top:3em;
}

header{
    background-color: rgba(0, 0, 0, 0.81);
    height:20%;
    width:auto;
}

footer{
    height:10%;
}

h1{
    color:white;
}

h3{
    color:white;
}

.img-campus-ufmt{
    display:block;
    height:300px;
    width:100%;
}

.nav-layout{
    display:block;
    float:left;
    width:100%;
    clear:both;
    list-style:none;
}