<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../content/css/reset.css"/>
    <link rel="stylesheet" href="../content/css/PaginaInicial.css" />    
    <title>Pet Engenharia Florestal - UFMT</title>
</head>
<body>
    <div class="corpo-pagina">
        <header>
            <img class="img-logo-pet" src="../content/img/logo-pet.png"/>
            <h1>PET - Engenharia Florestal</h1>
            <h3>Universidade Federal de Mato Grosso – Campus Cuiabá/MT</h3>
            <img class="img-campus-ufmt" src="../content/img/integrantes-pet.jpg" />
            <ul class="nav-layout">
                <li class="item-navegacao"><a>Início</a></li>
                <li class="item-navegacao"><a>Documentos</a></li>
                <li class="item-navegacao"><a>Eventos</a></li>
                <li class="item-navegacao"><a>Quem somos</a></li>
                <li class="item-navegacao"><a>Inscrição</a></li>
                <li class="item-navegacao"><a>Membros</a></li>
                <li class="item-navegacao"><a>Contato</a></li>
            </ul>
        </header>
        <main>
            <div class="main-principal">

            </div>
            <div class="main-lateral">
                <div id="calendar-container"></div>
            </div>
        </main>
    </div>
    <script src="../content/js/calendario.js"></script>
</body>
</html>
