<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../content/css/PaginaInicial.css" />
    <title>Pet Engenharia Florestal - UFMT</title>
</head>
<body>
    <div class="corpo-pagina">
        <header>
            <h1>PET Engenharia Florestal</h1>
            <h3>Universidade Federal de Mato Grosso – Campus Cuiabá/MT</h3>
            <img class="img-campus-ufmt" src="../content/img/ufmt-cuiaba.jpg" />
            <ul>
                <li><a>Início</a></li>
                <li><a>Documentos</a></li>
                <li><a>Eventos</a></li>
                <li><a>Quem somos</a></li>
                <li><a>Inscrição</a></li>
                <li><a>Membros</a></li>
                <li><a>Contato</a></li>
            </ul>
        </header>
        <main>
            <div class="main-principal">

            </div>
            <div class="main-lateral">

            </div>
        </main>
    </div>
</body>
</html>
